{% extends "layout.html" %}
{% block content %}
<h1> {{title}}</h1>
<ul>
{% for user in users.items %}
    <li>
        <a href="{{ url_for('users.user_posts', username=user.username) }}">
            {{ user.username }}
        </a>
    </li>
{% endfor %}
</ul>
{% for page_num in users.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
    {% if page_num %}
        {% if users.page == page_num %}
        <a class="btn btn-secondary mb-4" href="{{ url_for('users.user', page=page_num) }}">{{page_num}}</a>
        {% else %}
        <a class="btn btn-outline-info mb-4" href="{{ url_for('users.user', page=page_num) }}">{{page_num}}</a>
        {% endif %}
    {% else %}
    ..
    {% endif %}
{% endfor %}

{% endblock%}
